@import '/src/styles/variables';

.about {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  ul {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .about {
    gap: 10px;
  }
}
